<h1 class="animated fadeIn fast">Sobre comics hecha por Rodrigo Guerrero Rocha</h1>
<br>
<p class="animated fadeIn ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas blanditiis totam, molestiae accusamus dolor
  dicta recusandae eum at quae placeat corrupti quis, eligendi sapiente iure quas! Provident iure fuga eveniet?</p>
<p class="animated fadeIn ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae quis sed qui? Unde minus voluptate sapiente
  repellendus accusantium, aspernatur quo, deserunt architecto, explicabo cupiditate at impedit exercitationem facere
  placeat iste.</p>